
.nav {
    /*background: linear-gradient(45deg, #8ABFA3, #C9E9D2, #859F3D);*/
    background-color: #87A2FF;
    padding: 1em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-height: 80vh;
    top: 70px;
    left: 20px;
    border-radius: 20px;
    position: relative;
}.nav-link {
    font-size: 1.1rem;
    padding: 12px 20px!important;
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
     background-color: #1c2a3f !important;
     color: #ffffff!important;
     font-weight: 700!important;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
     border: 2px solid #111515;
     transition: background-color 0.3s;
}
 #btnLogOut{
     margin-top: 40px;

 }
.nav-link:hover {
    background-color: #3e7f2b !important;
    color: #ffffff;
}

.nav-link.active {
    background-color: #1abc9c;
    color: #ffffff;
    font-weight: 700;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid #1abc9c;
    transition: background-color 0.3s;
}


.nav-item {
    margin: 0 10px;
}
.logout-button {
    background-color: #e74c3c;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

/*!* Responsive styling *!*/
/*@media (max-width: 768px) {*/
/*    #dashboard .nav {*/
/*        flex-direction: column;*/
/*        align-items: stretch;*/
/*    }*/

/*    #dashboard .nav-item {*/
/*        margin-bottom: 0.5em;*/
/*    }*/

/*    #dashboard .nav-link {*/
/*        width: 100%;*/
/*        padding: 15px;*/
/*    }*/
/*}*/

/*@media (min-width: 769px) {*/
/*    #dashboard .nav {*/
/*        justify-content: space-around;*/
/*    }*/
/*}*/
