
.nav {
    /*background: linear-gradient(45deg, #8ABFA3, #C9E9D2, #859F3D);*/
    background-color: #87A2FF;
    padding: 1em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}.nav-link {
    color: #ecf0f1;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 12px 20px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}
.nav-link:hover {
    background-color: #41e8ad;
    color: #ffffff;
}

.nav-link.active {
    background-color: #1abc9c;
    color: #ffffff;
    font-weight: 700;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid #1abc9c;
    transition: background-color 0.3s;
}

.nav-item {
    margin: 0 10px;
}
.logout-button {
    background-color: #e74c3c;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

/*!* Responsive styling *!*/
/*@media (max-width: 768px) {*/
/*    #dashboard .nav {*/
/*        flex-direction: column;*/
/*        align-items: stretch;*/
/*    }*/

/*    #dashboard .nav-item {*/
/*        margin-bottom: 0.5em;*/
/*    }*/

/*    #dashboard .nav-link {*/
/*        width: 100%;*/
/*        padding: 15px;*/
/*    }*/
/*}*/

/*@media (min-width: 769px) {*/
/*    #dashboard .nav {*/
/*        justify-content: space-around;*/
/*    }*/
/*}*/
