/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#signup {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #4d5dd8, #5868cc, #2133a8);
    padding: 20px;
}

.signup-wrapper {
    display: flex;
    width: 900px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    position: relative;
    height: 80vh;
    align-items: stretch;
}

/* Image styling */
.side-imageSignUp {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

/* Signup container styling */
.signup-container {
    background-color: rgb(5, 34, 83);
    padding: 2em;
    color: #ffffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}


/* Heading styles */
.signup-container h1 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Label and input field styling */
.signup-container label {
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

.signup-container input {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    margin-bottom: 15px;
    transition: border-color 0.3s;
}

/* Button group for role selection */
.signup-container .btn-group .btn {
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

.signup-container .btn-group .btn:hover {
    background-color: #e2e6ea;
}

.signup-container .dropdown-item {
    color: #333;
}

/* Sign Up button */
.signup-container button {
 font-weight: bolder;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .signup-wrapper {
        flex-direction: column;
        width: 100%;
        border-radius: 0;
    }

    .signup-container,
    .side-image {
        width: 100%;
    }

    .signup-container {
        padding: 20px;
    }
}
