/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#signin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background: linear-gradient(45deg, #bc87df, #6c39c3, #5800e3);
    min-height: 100vh;
}

.signin-container {
    background-color: #463975;
    padding: 3em;
    border-radius: 65px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    width: 450px;
    margin: auto;
    position: relative;
    z-index: 1;
    top: 100px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 5px;
    text-align: left;
}

.input-group {
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px 45px 10px 45px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    font-size: 16px;
}
button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px!important;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
.signup-link {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}

.signup-link a {
    color: #3adc04;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}
